
/* This makes a video responsive */
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* make site take up 100% of screen */
html, body { height: 100%; }

/* make body transparent so the background image in html shows */
html, body, nav { background: transparent }

/* make scrollbar appear always */
html {
    overflow: scroll;
}